.user-details {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Header */

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;

    background: white;
    padding: 20px;
    border-radius: 12px;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

/* Grid */

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Cards */

.card {
    background: white;
    padding: 16px;
    border-radius: 12px;

    h3 {
        margin-bottom: 10px;
    }
}