<aside class="sidebar"
       [class.collapsed]="collapsed">

  <div class="logo">
    <span *ngIf="!collapsed">Admin</span>
    <span *ngIf="collapsed">A</span>
  </div>

  <nav>

    <a *ngFor="let item of menu"
       [routerLink]="item.route"
       routerLinkActive="active"
       class="menu-item">

      <span class="icon">
        {{ item.icon }}
      </span>

      <span class="label"
            *ngIf="!collapsed">

        {{ item.label }}

      </span>

    </a>

  </nav>

</aside>
