.loader-backdrop {

    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

/* Spinner */

.spinner {

    width: 50px;
    height: 50px;

    border: 4px solid #fff;
    border-top: 4px solid #2563eb;

    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {

    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }

}