<div class="products">

    <h2>Products</h2>

    <!-- SEARCH -->

    <div class="toolbar">

        <input type="text" placeholder="Search products..." [(ngModel)]="search" (keyup.enter)="onSearch()" />

        <button (click)="onSearch()">
            Search
        </button>
        <button (click)="onResetSearch()" [disabled]="!isSearched()">Reset</button>
        <button routerLink="/products/add">
            Add Product
        </button>
    </div>

    <!-- LOADER -->

    <div *ngIf="loading()">
        Loading products...
    </div>

    <!-- TABLE -->

    <table *ngIf="!loading()">

        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Brand</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let p of products()">

                <td>
                    <img [src]="p.thumbnail" />
                </td>

                <td>{{ p.title }}</td>

                <td>₹ {{ p.price }}</td>

                <td>{{ p.stock }}</td>

                <td>{{ p.brand }}</td>

                <td>
                    <button [routerLink]="['/products', p.id]">View</button>
                    <button [routerLink]="['/products', p.id, 'edit']">Edit</button>
                    <button class="danger" (click)="confirmDelete(p.id)">
                        {{ deletingId() === p.id
                        ? 'Deleting...'
                        : 'Delete' }}
                    </button>
                </td>

            </tr>

        </tbody>

    </table>

    <!-- PAGINATION -->

    <app-pagination [page]="page" [limit]="limit" [total]="total()" (pageChange)="onPageChange($event)">
    </app-pagination>


</div>